body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1098px;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1098px;
}
#u4162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:60px;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:20px;
  width:53px;
  height:60px;
}
#u4163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:34px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00B4FF;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:128px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#00B4FF;
}
#u4165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:1920px;
  height:1px;
}
#u4166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B4FF;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:1466px;
  top:134px;
  width:29px;
  height:16px;
  color:#00B4FF;
}
#u4168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00B4FF;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:134px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#00B4FF;
}
#u4169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u4170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B4FF;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:1533px;
  top:134px;
  width:57px;
  height:16px;
  color:#00B4FF;
}
#u4170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00B4FF;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:1602px;
  top:134px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#00B4FF;
}
#u4171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u4172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B4FF;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:134px;
  width:57px;
  height:16px;
  color:#00B4FF;
}
#u4172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:43px;
  width:71px;
  height:16px;
  color:#89C8F4;
}
#u4174_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4174.mouseOver {
}
#u4174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:43px;
  width:57px;
  height:16px;
  color:#89C8F4;
}
#u4175_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4175.mouseOver {
}
#u4175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:1623px;
  top:43px;
  width:57px;
  height:16px;
  color:#89C8F4;
}
#u4176_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4176.mouseOver {
}
#u4176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4177 {
  position:absolute;
  left:1367px;
  top:77px;
}
#u4177_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:265px;
  height:100px;
  background-image:none;
}
#u4177_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:100px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:100px;
}
#u4178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:16px;
  width:68px;
  height:68px;
}
#u4179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:16px;
  width:68px;
  height:68px;
}
#u4180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:16px;
  width:68px;
  height:68px;
}
#u4181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:77px;
  width:110px;
  height:89px;
  overflow:hidden;
}
#u4182_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4182_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
}
#u4183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4184_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4184.mouseOver {
}
#u4184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4185_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4185.mouseOver {
}
#u4185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4186_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4186.mouseOver {
}
#u4186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:77px;
  width:110px;
  height:119px;
  overflow:hidden;
}
#u4187_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:119px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4187_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
}
#u4188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4189_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4189.mouseOver {
}
#u4189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4190_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4190.mouseOver {
}
#u4190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4191_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4191.mouseOver {
}
#u4191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4192_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4192.mouseOver {
}
#u4192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:271px;
}
#u4193 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:463px;
  width:1440px;
  height:271px;
}
#u4193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:42px;
}
#u4194 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:486px;
  width:269px;
  height:42px;
}
#u4194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#05B1FD;
}
#u4195 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:498px;
  width:160px;
  height:19px;
  font-size:16px;
  color:#05B1FD;
}
#u4195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u4196 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:556px;
  width:1392px;
  height:143px;
  overflow:hidden;
}
#u4196_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:143px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4196_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4197 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:1383px;
  height:119px;
}
#u4198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:60px;
}
#u4198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:60px;
  color:#FFFFFF;
}
#u4198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  word-wrap:break-word;
}
#u4199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:60px;
}
#u4199 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:0px;
  width:199px;
  height:60px;
  color:#FFFFFF;
}
#u4199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  word-wrap:break-word;
}
#u4200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:60px;
}
#u4200 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:0px;
  width:203px;
  height:60px;
  color:#FFFFFF;
}
#u4200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:199px;
  word-wrap:break-word;
}
#u4201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
}
#u4201 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:0px;
  width:198px;
  height:60px;
  color:#FFFFFF;
}
#u4201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:194px;
  word-wrap:break-word;
}
#u4202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u4202 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:0px;
  width:220px;
  height:60px;
  color:#FFFFFF;
}
#u4202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  word-wrap:break-word;
}
#u4203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:60px;
}
#u4203 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:0px;
  width:178px;
  height:60px;
  color:#FFFFFF;
}
#u4203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:174px;
  word-wrap:break-word;
}
#u4204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:60px;
}
#u4204 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:0px;
  width:186px;
  height:60px;
  color:#FFFFFF;
}
#u4204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:182px;
  word-wrap:break-word;
}
#u4205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:59px;
}
#u4205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:199px;
  height:59px;
  color:#FFFFFF;
}
#u4205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  word-wrap:break-word;
}
#u4206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:59px;
}
#u4206 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:60px;
  width:199px;
  height:59px;
  color:#05B1FD;
}
#u4206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  word-wrap:break-word;
}
#u4207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:59px;
}
#u4207 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:60px;
  width:203px;
  height:59px;
  color:#FFFFFF;
}
#u4207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:199px;
  word-wrap:break-word;
}
#u4208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:59px;
}
#u4208 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:60px;
  width:198px;
  height:59px;
  color:#FFFFFF;
}
#u4208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:194px;
  word-wrap:break-word;
}
#u4209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:59px;
}
#u4209 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:60px;
  width:220px;
  height:59px;
  color:#FFFFFF;
}
#u4209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  word-wrap:break-word;
}
#u4210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:59px;
}
#u4210 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:60px;
  width:178px;
  height:59px;
  color:#FFFFFF;
}
#u4210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:174px;
  word-wrap:break-word;
}
#u4211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:59px;
}
#u4211 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:60px;
  width:186px;
  height:59px;
  color:#FFFFFF;
}
#u4211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:182px;
  word-wrap:break-word;
}
#u4212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u4212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:955px;
  width:1920px;
  height:1px;
}
#u4212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(5, 177, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4214 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:395px;
  width:240px;
  height:30px;
}
#u4214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4215 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:401px;
  width:19px;
  height:19px;
}
#u4215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4216 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:402px;
  width:71px;
  height:16px;
  color:#05B1FD;
}
#u4216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4217 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:424px;
  width:240px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u4217_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4217_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(5, 177, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:199px;
}
#u4218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
  background:inherit;
  background-color:rgba(20, 46, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4219 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:238px;
  height:30px;
  color:#05B1FD;
}
#u4219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4220 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:7px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u4220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4221 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:17px;
  height:16px;
  color:#FFFFFF;
}
#u4221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4222 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:7px;
  width:17px;
  height:16px;
  color:#FFFFFF;
}
#u4222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4223 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:30px;
  width:238px;
  height:168px;
}
#u4224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4224_img.mouseOver {
}
#u4224.mouseOver {
}
#u4224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4225 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4225_img.mouseOver {
}
#u4225.mouseOver {
}
#u4225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:45px;
}
#u4226 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:78px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4226_img.mouseOver {
}
#u4226.mouseOver {
}
#u4226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u4227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4227_img.mouseOver {
}
#u4227.mouseOver {
}
#u4227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4228 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:45px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4228_img.mouseOver {
}
#u4228.mouseOver {
}
#u4228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:45px;
}
#u4229 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:45px;
  width:78px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4229_img.mouseOver {
}
#u4229.mouseOver {
}
#u4229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u4230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4230_img.mouseOver {
}
#u4230.mouseOver {
}
#u4230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4231 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:90px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4231_img.mouseOver {
}
#u4231.mouseOver {
}
#u4231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:45px;
}
#u4232 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:90px;
  width:78px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4232_img.mouseOver {
}
#u4232.mouseOver {
}
#u4232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u4233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u4233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:80px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4233_img.mouseOver {
}
#u4233.mouseOver {
}
#u4233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u4234 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:135px;
  width:80px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4234_img.mouseOver {
}
#u4234.mouseOver {
}
#u4234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
}
#u4235 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:135px;
  width:78px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4235_img.mouseOver {
}
#u4235.mouseOver {
}
#u4235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u4236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4236 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:979px;
  width:141px;
  height:16px;
  color:#05B1FD;
}
#u4236_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4236.mouseOver {
}
#u4236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4237 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:979px;
  width:85px;
  height:16px;
  color:#05B1FD;
}
#u4237_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4237.mouseOver {
}
#u4237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4238 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:979px;
  width:183px;
  height:16px;
  color:#05B1FD;
}
#u4238_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4238.mouseOver {
}
#u4238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#33CCFF;
}
#u4239 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:395px;
  width:416px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#33CCFF;
}
#u4239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  white-space:nowrap;
}
#u4240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1098px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1098px;
}
#u4241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:622px;
}
#u4242 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:273px;
  width:1001px;
  height:622px;
}
#u4242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4243 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:942px;
  width:140px;
  height:40px;
}
#u4243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(12, 26, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00B4FF;
}
#u4244 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:300px;
  width:300px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00B4FF;
}
#u4244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u4245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(12, 26, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#00B4FF;
}
#u4245 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:325px;
  width:58px;
  height:28px;
  font-size:11px;
  color:#00B4FF;
}
#u4245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u4246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:131px;
}
#u4246 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:213px;
  width:314px;
  height:131px;
}
#u4246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:131px;
}
#u4247 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:213px;
  width:314px;
  height:131px;
}
#u4247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:131px;
}
#u4248 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:213px;
  width:314px;
  height:131px;
}
#u4248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#05B1FD;
}
#u4249 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:268px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#05B1FD;
}
#u4249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u4250 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:264px;
  width:1px;
  height:30px;
}
#u4250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#05B1FD;
}
#u4251 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:258px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#05B1FD;
}
#u4251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#05B1FD;
}
#u4252 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:268px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#05B1FD;
}
#u4252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u4253 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:264px;
  width:1px;
  height:30px;
}
#u4253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#05B1FD;
}
#u4254 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:258px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#05B1FD;
}
#u4254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#05B1FD;
}
#u4255 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:268px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#05B1FD;
}
#u4255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u4256 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:264px;
  width:1px;
  height:30px;
}
#u4256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#05B1FD;
}
#u4257 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:258px;
  width:91px;
  height:42px;
  font-size:36px;
  color:#05B1FD;
}
#u4257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:131px;
}
#u4259 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:213px;
  width:314px;
  height:131px;
}
#u4259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#05B1FD;
}
#u4260 {
  border-width:0px;
  position:absolute;
  left:1394px;
  top:268px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#05B1FD;
}
#u4260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u4261 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:264px;
  width:1px;
  height:30px;
}
#u4261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#05B1FD;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:258px;
  width:91px;
  height:42px;
  font-size:36px;
  color:#05B1FD;
}
#u4262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
