body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1098px;
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1098px;
}
#u4263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:60px;
}
#u4264 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:20px;
  width:53px;
  height:60px;
}
#u4264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:34px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00B4FF;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:128px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#00B4FF;
}
#u4266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:1920px;
  height:1px;
}
#u4267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B4FF;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:1466px;
  top:134px;
  width:29px;
  height:16px;
  color:#00B4FF;
}
#u4269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00B4FF;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:1509px;
  top:134px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#00B4FF;
}
#u4270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u4271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B4FF;
}
#u4271 {
  border-width:0px;
  position:absolute;
  left:1533px;
  top:134px;
  width:57px;
  height:16px;
  color:#00B4FF;
}
#u4271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#00B4FF;
}
#u4272 {
  border-width:0px;
  position:absolute;
  left:1602px;
  top:134px;
  width:12px;
  height:22px;
  font-size:18px;
  color:#00B4FF;
}
#u4272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u4273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00B4FF;
}
#u4273 {
  border-width:0px;
  position:absolute;
  left:1624px;
  top:134px;
  width:57px;
  height:16px;
  color:#00B4FF;
}
#u4273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4275 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:43px;
  width:71px;
  height:16px;
  color:#89C8F4;
}
#u4275_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4275.mouseOver {
}
#u4275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:43px;
  width:57px;
  height:16px;
  color:#89C8F4;
}
#u4276_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4276.mouseOver {
}
#u4276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:1623px;
  top:43px;
  width:57px;
  height:16px;
  color:#89C8F4;
}
#u4277_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#89C8F4;
}
#u4277.mouseOver {
}
#u4277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4278 {
  position:absolute;
  left:1367px;
  top:77px;
}
#u4278_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:265px;
  height:100px;
  background-image:none;
}
#u4278_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:100px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:100px;
}
#u4279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:16px;
  width:68px;
  height:68px;
}
#u4280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:16px;
  width:68px;
  height:68px;
}
#u4281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:16px;
  width:68px;
  height:68px;
}
#u4282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:77px;
  width:110px;
  height:89px;
  overflow:hidden;
}
#u4283_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:89px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4283_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
}
#u4284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4285_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4285.mouseOver {
}
#u4285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4286_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4286.mouseOver {
}
#u4286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4287_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4287.mouseOver {
}
#u4287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:77px;
  width:110px;
  height:119px;
  overflow:hidden;
}
#u4288_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:119px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4288_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:88px;
}
#u4289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4290_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4290.mouseOver {
}
#u4290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4291_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4291.mouseOver {
}
#u4291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4292_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4292.mouseOver {
}
#u4292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(12, 30, 64, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:110px;
  height:30px;
  color:#05B1FD;
}
#u4293_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(6, 68, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 84, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4293.mouseOver {
}
#u4293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u4294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:271px;
}
#u4294 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:463px;
  width:1440px;
  height:271px;
}
#u4294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:42px;
}
#u4295 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:486px;
  width:269px;
  height:42px;
}
#u4295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#05B1FD;
}
#u4296 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:498px;
  width:134px;
  height:19px;
  font-size:16px;
  color:#05B1FD;
}
#u4296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4297 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:556px;
  width:1392px;
  height:143px;
  overflow:hidden;
}
#u4297_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:143px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4297_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4298 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:1383px;
  height:119px;
}
#u4299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:60px;
}
#u4299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:60px;
  color:#FFFFFF;
}
#u4299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  word-wrap:break-word;
}
#u4300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:60px;
}
#u4300 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:0px;
  width:199px;
  height:60px;
  color:#FFFFFF;
}
#u4300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  word-wrap:break-word;
}
#u4301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:60px;
}
#u4301 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:0px;
  width:203px;
  height:60px;
  color:#FFFFFF;
}
#u4301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:199px;
  word-wrap:break-word;
}
#u4302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
}
#u4302 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:0px;
  width:198px;
  height:60px;
  color:#FFFFFF;
}
#u4302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:194px;
  word-wrap:break-word;
}
#u4303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u4303 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:0px;
  width:220px;
  height:60px;
  color:#FFFFFF;
}
#u4303_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  word-wrap:break-word;
}
#u4304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:60px;
}
#u4304 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:0px;
  width:178px;
  height:60px;
  color:#FFFFFF;
}
#u4304_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:174px;
  word-wrap:break-word;
}
#u4305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:60px;
}
#u4305 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:0px;
  width:186px;
  height:60px;
  color:#FFFFFF;
}
#u4305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:182px;
  word-wrap:break-word;
}
#u4306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:59px;
}
#u4306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:199px;
  height:59px;
  color:#FFFFFF;
}
#u4306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  word-wrap:break-word;
}
#u4307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:59px;
}
#u4307 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:60px;
  width:199px;
  height:59px;
  color:#05B1FD;
}
#u4307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  word-wrap:break-word;
}
#u4308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:59px;
}
#u4308 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:60px;
  width:203px;
  height:59px;
  color:#FFFFFF;
}
#u4308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:199px;
  word-wrap:break-word;
}
#u4309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:59px;
}
#u4309 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:60px;
  width:198px;
  height:59px;
  color:#FFFFFF;
}
#u4309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:194px;
  word-wrap:break-word;
}
#u4310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:59px;
}
#u4310 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:60px;
  width:220px;
  height:59px;
  color:#FFFFFF;
}
#u4310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  word-wrap:break-word;
}
#u4311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:59px;
}
#u4311 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:60px;
  width:178px;
  height:59px;
  color:#FFFFFF;
}
#u4311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:174px;
  word-wrap:break-word;
}
#u4312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:59px;
}
#u4312 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:60px;
  width:186px;
  height:59px;
  color:#FFFFFF;
}
#u4312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:182px;
  word-wrap:break-word;
}
#u4313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1921px;
  height:2px;
}
#u4313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:955px;
  width:1920px;
  height:1px;
}
#u4313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(5, 177, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4315 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:395px;
  width:240px;
  height:30px;
}
#u4315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4316 {
  border-width:0px;
  position:absolute;
  left:1651px;
  top:401px;
  width:19px;
  height:19px;
}
#u4316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4317 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:402px;
  width:71px;
  height:16px;
  color:#05B1FD;
}
#u4317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4318 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:424px;
  width:240px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u4318_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4318_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(5, 177, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:199px;
}
#u4319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
  background:inherit;
  background-color:rgba(20, 46, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4320 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:238px;
  height:30px;
  color:#05B1FD;
}
#u4320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4321 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:7px;
  width:33px;
  height:16px;
  color:#FFFFFF;
}
#u4321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4322 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:17px;
  height:16px;
  color:#FFFFFF;
}
#u4322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4323 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:7px;
  width:17px;
  height:16px;
  color:#FFFFFF;
}
#u4323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4324 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:30px;
  width:238px;
  height:168px;
}
#u4325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4325_img.mouseOver {
}
#u4325.mouseOver {
}
#u4325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4326 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4326_img.mouseOver {
}
#u4326.mouseOver {
}
#u4326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:45px;
}
#u4327 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:78px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4327_img.mouseOver {
}
#u4327.mouseOver {
}
#u4327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u4328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4328_img.mouseOver {
}
#u4328.mouseOver {
}
#u4328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4329 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:45px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4329_img.mouseOver {
}
#u4329.mouseOver {
}
#u4329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:45px;
}
#u4330 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:45px;
  width:78px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4330_img.mouseOver {
}
#u4330.mouseOver {
}
#u4330_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u4331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4331_img.mouseOver {
}
#u4331.mouseOver {
}
#u4331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
}
#u4332 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:90px;
  width:80px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4332_img.mouseOver {
}
#u4332.mouseOver {
}
#u4332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u4333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:45px;
}
#u4333 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:90px;
  width:78px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4333_img.mouseOver {
}
#u4333.mouseOver {
}
#u4333_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:74px;
  word-wrap:break-word;
}
#u4334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u4334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:80px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4334_img.mouseOver {
}
#u4334.mouseOver {
}
#u4334_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
}
#u4335 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:135px;
  width:80px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4335_img.mouseOver {
}
#u4335.mouseOver {
}
#u4335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
}
#u4336 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:135px;
  width:78px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4336_img.mouseOver {
}
#u4336.mouseOver {
}
#u4336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u4337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4337 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:979px;
  width:141px;
  height:16px;
  color:#05B1FD;
}
#u4337_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4337.mouseOver {
}
#u4337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4338 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:979px;
  width:85px;
  height:16px;
  color:#05B1FD;
}
#u4338_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4338.mouseOver {
}
#u4338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4339 {
  border-width:0px;
  position:absolute;
  left:1061px;
  top:979px;
  width:183px;
  height:16px;
  color:#05B1FD;
}
#u4339_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#05B1FD;
}
#u4339.mouseOver {
}
#u4339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#33CCFF;
}
#u4340 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:395px;
  width:376px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#33CCFF;
}
#u4340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u4341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1098px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1098px;
}
#u4342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:622px;
}
#u4343 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:273px;
  width:1001px;
  height:622px;
}
#u4343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4344 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:942px;
  width:140px;
  height:40px;
}
#u4344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(12, 26, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00B4FF;
}
#u4345 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:300px;
  width:300px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#00B4FF;
}
#u4345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:296px;
  word-wrap:break-word;
}
#u4346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(12, 26, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#00B4FF;
}
#u4346 {
  border-width:0px;
  position:absolute;
  left:1356px;
  top:325px;
  width:58px;
  height:28px;
  font-size:11px;
  color:#00B4FF;
}
#u4346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u4347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:131px;
}
#u4347 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:213px;
  width:314px;
  height:131px;
}
#u4347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:131px;
}
#u4348 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:213px;
  width:314px;
  height:131px;
}
#u4348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:131px;
}
#u4349 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:213px;
  width:314px;
  height:131px;
}
#u4349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#05B1FD;
}
#u4350 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:268px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#05B1FD;
}
#u4350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u4351 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:264px;
  width:1px;
  height:30px;
}
#u4351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#05B1FD;
}
#u4352 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:258px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#05B1FD;
}
#u4352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#05B1FD;
}
#u4353 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:268px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#05B1FD;
}
#u4353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u4354 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:264px;
  width:1px;
  height:30px;
}
#u4354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#05B1FD;
}
#u4355 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:258px;
  width:21px;
  height:42px;
  font-size:36px;
  color:#05B1FD;
}
#u4355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#05B1FD;
}
#u4356 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:268px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#05B1FD;
}
#u4356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u4357 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:264px;
  width:1px;
  height:30px;
}
#u4357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#05B1FD;
}
#u4358 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:258px;
  width:91px;
  height:42px;
  font-size:36px;
  color:#05B1FD;
}
#u4358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:131px;
}
#u4360 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:213px;
  width:314px;
  height:131px;
}
#u4360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#05B1FD;
}
#u4361 {
  border-width:0px;
  position:absolute;
  left:1394px;
  top:268px;
  width:55px;
  height:22px;
  font-size:18px;
  color:#05B1FD;
}
#u4361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u4362 {
  border-width:0px;
  position:absolute;
  left:1510px;
  top:264px;
  width:1px;
  height:30px;
}
#u4362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#05B1FD;
}
#u4363 {
  border-width:0px;
  position:absolute;
  left:1563px;
  top:258px;
  width:91px;
  height:42px;
  font-size:36px;
  color:#05B1FD;
}
#u4363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
